@page "/fluentlist"
@using ToDo.Client.Data
@using ToDo.Client.Models
@using ToDo.Client.ViewModels
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.DataGrid

<h3>List With Date</h3>
<button @onclick="ViewModel.AddItem">Add Item</button>
<button @onclick="ViewModel.DeleteItem">Delete Item</button>
<InputDate id="datepicker" @bind-Value="ViewModel.SelectedDate" class="form-control" style="width:200px" />
<button @onclick="ViewModel.SetPreviousDay">Previous Day</button>
<button @onclick="ViewModel.SetToday">Today</button>
<button @onclick="ViewModel.SetNextDay">Next Day</button>

<div class="row">
    <div class="col-8">
        <FluentDataGrid Items="@ViewModel.CurrentDayItems.AsQueryable()" AutoGenerateColumns="false" SelectionMode="SelectionMode.Single"
                        SelectedItems="SelectedItem">
            <TemplateColumn Sortable="true">
                <FluentCheckbox @bind-Value="context.IsDone" />
            </TemplateColumn>
            <PropertyColumn Property="@(p => p.Title)" Sortable="true" />
        </FluentDataGrid>
    </div>
    <div class="col-4">
        <h4>Details Of Selected Item</h4>
        <InputTextArea @bind-Value="ViewModel.SelectedItem.Details" style="height:100%;width:100%">@ViewModel.SelectedItem.Details</InputTextArea>
    </div>
</div>

<p>Selected Item ID: @ViewModel.SelectedItemId</p>
<table>
    @foreach (var item in ViewModel.CurrentDayItems)
    {
        <tr>
            <td><InputCheckbox @bind-Value="item.IsDone" /></td>
            <td><InputText @bind-Value="item.Title" /></td>
            <td>
                <InputRadioGroup @bind-Value="ViewModel.SelectedItemId" Name="Selected">
                    <InputRadio Value="@item.Id" />
                </InputRadioGroup>
            </td>
        </tr>
    }
</table>


<h4>Items</h4>

<ul>
    @foreach (var item in ViewModel.ToDoItems)
    {
        <li>@item.Id / @item.Title / @item.IsDone // @item.ItemDate // @item.Details</li>
    }
</ul>
@code {
    public FluentViewModel ViewModel;

    protected override async Task OnInitializedAsync()
    {
        ViewModel = new FluentViewModel();
        ViewModel.StateChanged += OnStateChanged;       // Subscribe to StateChanged property.
    }

    private void OnStateChanged()
    {
        InvokeAsync(StateHasChanged); // Ensure it runs on the UI thread
    }

    public void Dispose()
    {
        // Unsubscribe to prevent memory leaks
        ViewModel.StateChanged -= OnStateChanged;
    }



}
